<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17112337661-94rvftplrvdnagpictirh0fmcms9nts4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17112337661-94rvftplrvdnagpictirh0fmcms9nts4</string>
	<key>API_KEY</key>
	<string>AIzaSyB1u9RH2xIDL_HmZSOQOPldcxaY17NwmpE</string>
	<key>GCM_SENDER_ID</key>
	<string>17112337661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dariuki.wydatki</string>
	<key>PROJECT_ID</key>
	<string>wydatki-47ef7</string>
	<key>STORAGE_BUCKET</key>
	<string>wydatki-47ef7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17112337661:ios:d64d23dd3c3526755a4294</string>
</dict>
</plist>